@model RMS.Data.Objects.Entities.Restaurant.ExpenseItem

@{
    ViewBag.Title = "Delete";
}

<!--MODAL HEADER-->
<div class="modal-header" style="background-color: purple">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title" style="color:white; align-content:center">Deleting Expense Item</h3>
</div>

<!--MODAL BODY-->
<div class="modal-body">
    <h3>
        Are you sure you want to delete @Html.DisplayFor(model => model.Title)  ??
    </h3>
</div>

@using (Html.BeginForm("Delete", "ExpenseItem", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!--MODAL FOOTER-->
    <div class="modal-footer">
        <div class="form-actions no-color">
            <input type="submit" value="Yes" class="btn btn-danger" />
            <a class="btn btn-info" data-dismiss="modal">No</a>
        </div>
    </div>
}
